body {
  background-color: #fff9ed;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 10px;
}

.column1 {
  float: left;
  width: 28%;
  padding: 20px;
  margin: 10px;
  background-color: #ffdf60;
  height: 550px;
}

.column2 {
  float: left;
  width: 28%;
  padding: 20px;
  margin: 10px;
  background-color: #fff9ed;
  height: 550px;
}

.column3 {
  float: left;
  width: 28%;
  padding: 20px;
  margin: 10px;
  background-color: #ffce99; 
  height: 550px;
}

.column p {
  text-align: center;
}

img {
  width: 80%;
  height: auto;
}

.header {
  background-color: #ffce99;
  margin: 10px;
  text-align: center;
  padding: 5px;
}

@media screen and (max-width: 1000px) and (min-width: 700px) {
  .column1, .column2 {
    width: 50%;
    height: auto;
  }
  .column3 {
    width: 100%;
  }
}

@media screen and (max-width: 700px) and (min-width: 300px) {
  .column1, .column2, .column3 {
    width: 100%;
    height: auto;
  }
}