body {
  background-color: #fff9ed;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 10px;
}

.column {
  float: left;
  width: 28%;
  padding: 20px;
  margin: 10px;
  background-color: #ffdf60;
}

.column p {
  text-align: center;
}

img {
  width: 300px;
  height: auto;
}

.header {
  background-color: #ffce99;
  margin: 10px;
  text-align: center;
  padding: 5px;
}